.tick-mark{
    color: green;
    background: transparent;
    padding: 20px;
    display:inline;
    font-size: 60px;
}
.tick-out{
    /* border: 2px solid green; */
    width: 94px;
    border-radius: 400px;
    height: 90px;
    text-align: center;
    margin: auto;
    
}
.success-text{
    margin-top: 20px;
    text-align: center;
}
.userid{
    text-decoration: underline;
    text-decoration-color: black;
    color: red;
}
.success-text a{
    color: blue;
    text-decoration: underline;
}

.card-header img{
    width: 100px;
    border: 1px solid green;
    border-radius: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  user-select: none;
  margin-top: 30px;
}
.user_id{
    color: green;
    text-align: center;
}
.about-row{
    margin:0 20px;
    padding-top: 20px;
}

.about-row h3{
    font-weight: bold;
    color: black;
    border-bottom: 1.5px solid #eee;
    
}

.about-row b{
    font-weight: 200;
    color: rgb(12, 11, 11);
    
}

.id_card_img{
    width: 30px;
}